src/main/resources/wsdl/product-detail.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="cofomo.com/productDetail" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="cofomo.com/productDetail" targetNamespace="cofomo.com/productDetail">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="cofomo.com/productDetail">
            <xsd:element name="ProductDetailRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="reference" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productDetail">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:long"/>
                        <xsd:element name="productName" type="xsd:string"/>
                        <xsd:element name="reference" type="xsd:string"/>
                        <xsd:element name="category" type="tns:category"/>
                        <xsd:element name="marque" type="xsd:string"/>
                        <xsd:element name="basePrice" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="category">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FOOD"/>
                    <xsd:enumeration value="PHONE"/>
                    <xsd:enumeration value="TV"/>
                    <xsd:enumeration value="GAME"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ProductDetailRequest">
        <wsdl:part element="tns:ProductDetailRequest" name="ProductDetailRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Product">
        <wsdl:operation name="ProductDetail">
            <wsdl:input message="tns:ProductDetailRequest" name="ProductDetailRequest"> </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductSoap11" type="tns:Product">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ProductDetail">
            <soap:operation soapAction=""/>
            <wsdl:input name="ProductDetailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProductService">
        <wsdl:port binding="tns:ProductSoap11" name="ProductSoap11">
            <soap:address location="http://localhost:8088/api/v1/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>